## Data Fusion


* Curso: https://www.udemy.com/course/analise-dados-python

In [1]:
import warnings
warnings.simplefilter("ignore")

### Extrair dados

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = "./dados/caso_estudo.xlsx"

In [4]:
dfClientes = pd.read_excel(dataset, sheet_name='clientes')
dfLojas = pd.read_excel(dataset, sheet_name='lojas')
dfProdutos = pd.read_excel(dataset, sheet_name='produtos')
dfVendas = pd.read_excel(dataset, sheet_name='vendas')
dfPag = pd.read_excel(dataset, sheet_name='pagamentos')

### Primary Key

In [5]:
dfClientes = dfClientes.set_index("id")
dfLojas = dfLojas.set_index("id")
dfProdutos = dfProdutos.set_index("id")
dfVendas = dfVendas.set_index("id")
dfPag = dfPag.set_index("id")

### Join

In [6]:
df = dfVendas.join(dfClientes.add_prefix("cliente_"), on="id_cliente")
df = df.join(dfLojas.add_prefix("loja_"), on="id_loja")
df = df.join(dfProdutos.add_prefix("produto_"), on="id_produto")

df

,id_cliente,id_loja,id_produto,dt_venda,cliente_nome,cliente_sexo,cliente_dt_nasc,loja_cidade,produto_produto,produto_valor
id,,,,,,,,,,
1,393,9,3,2018-01-04,Gustavo Silva,M,1/4/1950,Palmas,laptop básico,2300.0
2,417,9,3,2018-01-04,Leonor Almeida,F,1/31/1972,Palmas,laptop básico,2300.0
3,374,7,8,2018-01-04,André Alves,M,8/3/1962,Salvador,cadeira,540.0
4,59,4,3,2018-01-05,Rodrigo Ribeiro,M,11/5/1941,Belo Horizonte,laptop básico,2300.0
5,18,9,1,2018-01-05,Antônio Azevedo,M,4/15/1941,Palmas,mouse,20.0
...,...,...,...,...,...,...,...,...,...,...
2996,671,3,7,2020-09-27,Ana Goncalves,F,10/31/1999,Curitiba,carregador,150.0
2997,586,8,3,2020-09-27,Aline Pinto,F,3/29/1994,Brasília,laptop básico,2300.0
2998,731,2,4,2020-09-27,Otávio Silva,M,5/4/1986,Rio de Janeiro,laptop gamer,5300.0
2999,163,2,1,2020-09-27,Ana Pereira,F,1/10/1967,Rio de Janeiro,mouse,20.0
3000,770,2,2,2020-09-27,Beatrice Castro,F,6/25/1944,Rio de Janeiro,teclado,30.0

In [7]:
df = df.join(dfPag.set_index("id_venda"))
df

,id_cliente,id_loja,id_produto,dt_venda,cliente_nome,cliente_sexo,cliente_dt_nasc,loja_cidade,produto_produto,produto_valor,dt_pgto
id,,,,,,,,,,,
1,393,9,3,2018-01-04,Gustavo Silva,M,1/4/1950,Palmas,laptop básico,2300.0,2018-01-24
2,417,9,3,2018-01-04,Leonor Almeida,F,1/31/1972,Palmas,laptop básico,2300.0,2018-02-17
3,374,7,8,2018-01-04,André Alves,M,8/3/1962,Salvador,cadeira,540.0,2018-02-14
4,59,4,3,2018-01-05,Rodrigo Ribeiro,M,11/5/1941,Belo Horizonte,laptop básico,2300.0,NaT
5,18,9,1,2018-01-05,Antônio Azevedo,M,4/15/1941,Palmas,mouse,20.0,2018-01-23
...,...,...,...,...,...,...,...,...,...,...,...
2996,671,3,7,2020-09-27,Ana Goncalves,F,10/31/1999,Curitiba,carregador,150.0,2020-10-17
2997,586,8,3,2020-09-27,Aline Pinto,F,3/29/1994,Brasília,laptop básico,2300.0,2020-10-02
2998,731,2,4,2020-09-27,Otávio Silva,M,5/4/1986,Rio de Janeiro,laptop gamer,5300.0,NaT
2999,163,2,1,2020-09-27,Ana Pereira,F,1/10/1967,Rio de Janeiro,mouse,20.0,NaT
3000,770,2,2,2020-09-27,Beatrice Castro,F,6/25/1944,Rio de Janeiro,teclado,30.0,NaT

## Feature Engineering

In [22]:
df["pg"] = 1
df.loc[df.dt_pgto.isnull(), "pg"] = 0
df

,id_cliente,id_loja,id_produto,dt_venda,cliente_nome,cliente_sexo,cliente_dt_nasc,loja_cidade,produto_produto,produto_valor,dt_pgto,pg
id,,,,,,,,,,,,
1,393,9,3,2018-01-04,Gustavo Silva,M,1/4/1950,Palmas,laptop básico,2300.0,2018-01-24,1
2,417,9,3,2018-01-04,Leonor Almeida,F,1/31/1972,Palmas,laptop básico,2300.0,2018-02-17,1
3,374,7,8,2018-01-04,André Alves,M,8/3/1962,Salvador,cadeira,540.0,2018-02-14,1
4,59,4,3,2018-01-05,Rodrigo Ribeiro,M,11/5/1941,Belo Horizonte,laptop básico,2300.0,NaT,0
5,18,9,1,2018-01-05,Antônio Azevedo,M,4/15/1941,Palmas,mouse,20.0,2018-01-23,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2996,671,3,7,2020-09-27,Ana Goncalves,F,10/31/1999,Curitiba,carregador,150.0,2020-10-17,1
2997,586,8,3,2020-09-27,Aline Pinto,F,3/29/1994,Brasília,laptop básico,2300.0,2020-10-02,1
2998,731,2,4,2020-09-27,Otávio Silva,M,5/4/1986,Rio de Janeiro,laptop gamer,5300.0,NaT,0
2999,163,2,1,2020-09-27,Ana Pereira,F,1/10/1967,Rio de Janeiro,mouse,20.0,NaT,0
3000,770,2,2,2020-09-27,Beatrice Castro,F,6/25/1944,Rio de Janeiro,teclado,30.0,NaT,0

In [35]:
df["tempo_pg"] = (df.dt_pgto - df.dt_venda).dt.days
df

,id_cliente,id_loja,id_produto,dt_venda,cliente_nome,cliente_sexo,cliente_dt_nasc,loja_cidade,produto_produto,produto_valor,dt_pgto,pg,tempo_pg
id,,,,,,,,,,,,,
1,393,9,3,2018-01-04,Gustavo Silva,M,1/4/1950,Palmas,laptop básico,2300.0,2018-01-24,1,20.0
2,417,9,3,2018-01-04,Leonor Almeida,F,1/31/1972,Palmas,laptop básico,2300.0,2018-02-17,1,44.0
3,374,7,8,2018-01-04,André Alves,M,8/3/1962,Salvador,cadeira,540.0,2018-02-14,1,41.0
4,59,4,3,2018-01-05,Rodrigo Ribeiro,M,11/5/1941,Belo Horizonte,laptop básico,2300.0,NaT,0,NaN
5,18,9,1,2018-01-05,Antônio Azevedo,M,4/15/1941,Palmas,mouse,20.0,2018-01-23,1,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,671,3,7,2020-09-27,Ana Goncalves,F,10/31/1999,Curitiba,carregador,150.0,2020-10-17,1,20.0
2997,586,8,3,2020-09-27,Aline Pinto,F,3/29/1994,Brasília,laptop básico,2300.0,2020-10-02,1,5.0
2998,731,2,4,2020-09-27,Otávio Silva,M,5/4/1986,Rio de Janeiro,laptop gamer,5300.0,NaT,0,NaN
2999,163,2,1,2020-09-27,Ana Pereira,F,1/10/1967,Rio de Janeiro,mouse,20.0,NaT,0,NaN
3000,770,2,2,2020-09-27,Beatrice Castro,F,6/25/1944,Rio de Janeiro,teclado,30.0,NaT,0,NaN

In [42]:
df.cliente_dt_nasc = pd.to_datetime(df.cliente_dt_nasc, format = "%m/%d/%Y")

id
1      27050 days 19:08:30.597851
2      18988 days 19:08:30.597851
3      22456 days 19:08:30.597851
4      30032 days 19:08:30.597851
5      30236 days 19:08:30.597851
                  ...
2996    8853 days 19:08:30.597851
2997   10895 days 19:08:30.597851
2998   13781 days 19:08:30.597851
2999   20835 days 19:08:30.597851
3000   29069 days 19:08:30.597851
Name: cliente_dt_nasc, Length: 3000, dtype: timedelta64[ns]

In [52]:
import numpy as np
df["cliente_idade"] = np.floor((pd.to_datetime("today") - df.cliente_dt_nasc).dt.days / 365)
df

,id_cliente,id_loja,id_produto,dt_venda,cliente_nome,cliente_sexo,cliente_dt_nasc,loja_cidade,produto_produto,produto_valor,dt_pgto,pg,tempo_pg,cliente_idade
id,,,,,,,,,,,,,,
1,393,9,3,2018-01-04,Gustavo Silva,M,1950-01-04,Palmas,laptop básico,2300.0,2018-01-24,1,20.0,74.0
2,417,9,3,2018-01-04,Leonor Almeida,F,1972-01-31,Palmas,laptop básico,2300.0,2018-02-17,1,44.0,52.0
3,374,7,8,2018-01-04,André Alves,M,1962-08-03,Salvador,cadeira,540.0,2018-02-14,1,41.0,61.0
4,59,4,3,2018-01-05,Rodrigo Ribeiro,M,1941-11-05,Belo Horizonte,laptop básico,2300.0,NaT,0,NaN,82.0
5,18,9,1,2018-01-05,Antônio Azevedo,M,1941-04-15,Palmas,mouse,20.0,2018-01-23,1,18.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,671,3,7,2020-09-27,Ana Goncalves,F,1999-10-31,Curitiba,carregador,150.0,2020-10-17,1,20.0,24.0
2997,586,8,3,2020-09-27,Aline Pinto,F,1994-03-29,Brasília,laptop básico,2300.0,2020-10-02,1,5.0,29.0
2998,731,2,4,2020-09-27,Otávio Silva,M,1986-05-04,Rio de Janeiro,laptop gamer,5300.0,NaT,0,NaN,37.0
2999,163,2,1,2020-09-27,Ana Pereira,F,1967-01-10,Rio de Janeiro,mouse,20.0,NaT,0,NaN,57.0
3000,770,2,2,2020-09-27,Beatrice Castro,F,1944-06-25,Rio de Janeiro,teclado,30.0,NaT,0,NaN,79.0